server:
  port: 8001
  servlet:
    session:
      cookie:
        name: JSESSIONID
        http-only: true
        secure: true
        same-site: none

spring:
  application:
    name: share

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/share?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: skdus4972@@

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: never

